.createItem-main-container{
    box-sizing: border-box;
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
}

.createItem-main-container h2{
    color: var(--color-accent);
}

.data-one-container{
    width: 35%;
    margin-right: 70px;
    flex-shrink: 0;
}

#input-kcal{
    width: 170px;
}

#input-precio{
    width: 180px;
}
#input-cat{
    width: 180px;
}

#input-cat option{
    background-color: var(--color-secundary);
}
.data-two-container{
    width: 20%;
    margin-right: 50px;
    flex-shrink: 0;
}

.item-img-container img{
    min-width: 100%;
    max-width: 100%;
    border-radius: 15px;
}
.textarea-style{
    height: 100px;
}

.ingredientes-container{
    width: 40%;
}

.basic-info-item-container{
    margin-bottom: 50px;
}

.elements-list-form{
    list-style: none;
    padding: 0;
    color: white;
}

.elements-list-form li{
    margin: 0 25px 10px 0;
    padding: 2.5px 10px;
    border-radius: 8px; 
    background-color: var(--color-secundary); 
}

.text-add-style{
    display: inline-block;
    transition: 300ms;
    cursor: pointer;
    user-select: none;  
    margin: 0 0 10px 0;
}

.text-add-style:hover{
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.save-button{
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 40px;
}

.save-button:hover{
    transform: scale(1.1);
}

.cancel-button:hover{
    transform: scale(1.1);
}

.cancel-button{
    background-color: var(--color-secundary);
    color: white;
    cursor: pointer;
}

.foot-form{
    justify-content: end;
    align-items: center;
}

.extra-options-container{
    margin-top: 16px;
}

.extra-options-container label{
    color: white;
    margin-right: 40px;
}

.extra-options-container input{
     margin-right: 10px;
     width: 20px;
     height: 20px;
}
