.createItem-main-container{
    padding-top: 40px;
    box-sizing: border-box;
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
}

.createItem-main-container h2{
    color: var(--color-accent);
}

.data-one-container{
    width: 35%;
    margin-right: 70px;
    flex-shrink: 0;
}

#input-kcal{
    width: 170px;
}

#input-precio{
    width: 180px;
}
#input-cat{
    width: 180px;
}

#input-cat option{
    background-color: var(--color-secundary);
}
.data-two-container{
    width: 20%;
    margin-right: 50px;
    flex-shrink: 0;
}

.item-img-container img{
    min-width: 100%;
    max-width: 100%;
    border-radius: 15px;
}
.textarea-style{
    height: 100px;
}

.ingredientes-container{
    width: 40%;
}

.etiquetas-container{
    width: 40%
}

.basic-info-item-container{
    margin-bottom: 50px;
}

.save-item-button{
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 40px;
}

.save-item-button:hover{
    transform: scale(1.1);
}

.cancel-item-button:hover{
    transform: scale(1.1);
}

.cancel-item-button{
    background-color: var(--color-secundary);
    color: white;
    cursor: pointer;
}

.foot-form{
    justify-content: end;
    align-items: center;
}

.extra-options-container,.sabor-options-container{
    margin-top: 16px;
}

.extra-options-container label{
    color: white;
    margin-right: 40px;
}

.extra-options-container input{
     margin-right: 10px;
     width: 20px;
     height: 20px;
}

.sabor-options-container label{
    color: white;
    margin-right: 40px;
}   
.sabor-options-container input{
     margin-right: 10px;
     width: 20px;
     height: 20px;
}