.main-page-container{
    margin: 0 100px;
    text-align: center;
    padding-top: 30px;
}

.mainpage-body-container{
    height: 75vh; 
}
.mainpage-head-container{
    margin-bottom: 30px;
}

.head-left-top-container{
    width: 20%;
    border-radius: 20px;
    background: var(--color-secundary);
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

.logo-smartFood{
    max-width: 100%;
}
.head-center-top-container{
    flex-grow: 1;
    text-align: center;
    align-items: start;
}
.head-center-top-container h1{
    margin-bottom: 20px;
}

.head-right-top-container{
    width: 15%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.head-right-top-container button{
    background: rgb(65, 65, 65);
    border: 0;
    cursor: pointer;
    transition: 200ms;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.head-right-top-container button:hover{
    background-color: rgb(83, 83, 83);
}
.user-login-icon{
    padding: 5px;
    font-size: 3rem;
    color: var(--color-accent);
}

.filtros-container{
    width: 20%;
    border-radius: 20px;
    background: var(--color-secundary);
    margin-right: 30px;
    padding: 20px 0 20px 25px;
    text-align: start;
}

.items-container{
    flex: 1;
    border-radius: 20px;
    background: var(--color-secundary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 230px;
    justify-items: center;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filtros-container input{
    width: 20%;
    text-align: center;
    border-color: rgb(171, 171, 171);
}
.filtros-container h2{
    color: var(--color-accent);
}

.sabor-container{
    margin-bottom: 20px;
}

.sabor-options-container input{
     margin-right: 5px;
     width: 20px;
     height: 20px;
}

.sabor-options-container label{
    color: white;
    margin-right: 20px;
}  

#preferencias-picante{
    margin-top: 10px;
}

.buttons-main-container{
    justify-content: space-around;
}
.buttons-main-container button{
    cursor: pointer;
}
.buttons-main-container button:hover{
    transform: scale(1.1);
}

.navigate-rol-container{
    position: fixed;
    margin-left: 400px;
    gap: 50px;
}
